body {
	width: 90%;
	max-width: 1280px;
  	margin: auto !important;
	font-family: 'Poppins', sans-serif;
}

header .colonne-g {
	text-align: center;
}

header h2 {
	color: #616161;
}

img {
	border-radius: 100px;
	height: 180px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #40c4ff;
}

h3 img {
	height: 80px;
	width: auto;

}

a {
	text-decoration: none;
	color: #616161;
}


/*  -----------  header  -----------*/

.prenom {
	color: #40c4ff;
}

.dev {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #40c4ff;
}

/*----------- colonne gauche  -------------*/

.colonne-g, .colonne-g2{
	background-color: #40c4ff;
	margin: 0;
	padding-right: 0;
}

.colonne-g2 {
	height: 420px;
}

.titre-g {
	background-color: #616161;
	text-align: center;
	padding-right: 0;


}

.titre-g h3 {
	color: #40c4ff;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.colonne-g p, .colonne-g2 p {
	color: #616161;
	margin: 0;
	padding: 20px;
}
.loisirs i {
	width: 64px;
	color: #616161;
	padding: 10px;
	margin-top: 40px;
	border: 1px solid #616161;
	border-radius: 50px;
}

.loisirs {
	text-align: center;
	height: 250px;
	background-color: #40c4ff;
	align-items: center;
}

.fa-plane, .fa-code {
	margin-right: 30px;
}

/*----------- colonne droite ------------*/

.colonne-d h2 {
	border-bottom: 3px solid #40c4ff;
}

		/* fontawesom H2 */
h2 i {
	color: #40c4ff;
	margin-right: 20px;
	margin-bottom: 10px;
}

		/* circle */
.periode i {
	color: #40c4ff;
	margin-right: 20px;
}

.periodeinfo {
	display: flex;
	flex-direction: row;
}

.periodeinfo p {
	color: #616161;
}

.periodeinfo h3 {
	color: #616161;
}
.periode {
	display: flex;
	flex-direction: row;
	width: 30%;
	margin-top: 20px;
}

.info {
	width: 65%;
}

.competences {
	text-align: center;
	display: flex;
	flex-direction: row;
}

.comp {
	width: 45%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.fa-html5 {
	color: #40c4ff;
	margin-bottom: 20px;
}
.fa-css3 {
	color: #40c4ff;
}
.fa-wordpress {
	color: #40c4ff;
	margin-bottom: 20px;

}
.fa-github {
	color: #40c4ff;

}
.fa-bootstrap {
	color: #40c4ff;
}
@media only screen and (max-width: 1272px) {
	.loisirs {
		display: flex;
		flex-direction: column;
	}
	.loisirs i {
		margin: auto;
	}

}

@media only screen and (max-width: 992px) {
  .colonne-g {
    height: auto;
  }
  .colonne-g2 {
  	height: 200px;
  }
  .periodeinfo {
  	display: flex;
  	flex-direction: column;
  }
  #competences-loisirs {
  	display: flex;
  	flex-direction: column-reverse;
  }
  .loisirs {
		display: flex;
		flex-direction: row;
	}
}
